<div class="todo-container">
    <h2>Todo List</h2>
    <form (ngSubmit)="addTask()">
        <input type="text" placeholder="Enter task title" [(ngModel)]="task.title" name="title" required />
        <textarea type="text" placeholder="Enter a new task" [(ngModel)]="task.description" name="taskInput"
            required></textarea>
        <button type="submit">Add Task</button>
    </form>
    <div *ngIf="tasks.length > 0" class="task-summary">
        <p class="completed-tasks">Completed Tasks: {{ completedTasksCount }}</p>
        <p class="incomplete-tasks">Incomplete Tasks: {{ inCompleteTaskCount }}</p>
    </div>
    <div *ngIf="tasks.length === 0" class="no-tasks">
        <p>No tasks available.</p>
    </div>
    <ul>
        <li *ngFor="let task of getTasks; let i = index">
            <span [class.completed]="task.status">{{ task.title }}</span>
            <button (click)="toggleCompletion(task.id, task.status)">
                {{ task.status ? 'Undo' : 'Complete' }}
            </button>
            <button (click)="deleteUserTask(task.id)">Delete</button>
        </li>
    </ul>

</div>