<div *ngIf="isSignInVisible" class="auth-container">
    <h2>Sign In</h2>
    <form>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required />
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
    <p>Don't have an account? <button class="btn" (click)="toggleAuthView()">Sign Up</button></p>
</div>

<div *ngIf="!isSignInVisible" class="auth-container">
    <h2>Sign Up</h2>
    <form (ngSubmit)="saveUser()">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="user.email" placeholder="Enter your email"
                required />
        </div>
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName"
                placeholder="Enter your first name" required />
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName"
                placeholder="Enter your last name" required />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="user.password"
                placeholder="Enter your password" required />
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="user.confirmPassword"
                placeholder="Confirm your password" required />
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    <p>Already have an account? <button class="btn" (click)="toggleAuthView()">Sign In</button></p>
</div>

<!-- <div class="auth-container">
    <h2>Forgot Password</h2>
    <form>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required />
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
    <p>Remembered your password? <button class="btn">Sign In</button></p>
</div>
<div class="auth-container">
    <h2>Change Password</h2>
    <form>
        <div class="form-group">
            <label for="old-password">Old Password:</label>
            <input type="password" id="old-password" name="old-password" placeholder="Enter your old password"
                required />
        </div>
        <div class="form-group">
            <label for="new-password">New Password:</label>
            <input type="password" id="new-password" name="new-password" placeholder="Enter your new password"
                required />
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
    <p>Forgot your password? <button class="btn">Reset Password</button></p>
</div> -->